/*.iml
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
test-result/
test-output/
.idea/libraries/
.idea/shelf/
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
amomedia-unimeal-automation.iml
common/common.iml
common/target
core/core.iml
core/target
quiz/quiz.iml
quiz/target
/api/api.iml
/blog-api/blog-api.iml
/build-tools/build-tools.iml
/mm-api/mm-api.iml
/um-api/um-api.iml
/uniwell-web-automation.iml
/allure-results/
/front/front.iml
/mm-front/allure-results/
/um-api-msa/um-api-msa.iml
/mm-front/mm-front.iml
/mock-server/mock-server.iml
/um-front/um-front.iml
.allure/
/untitled.iml
