<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MM All tests" parallel="methods" thread-count="5" verbose="1">
    <test name="Quiz passed">
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="mm"/>-->
<!--            </run>-->
<!--        </groups>-->
        <packages>
            <package name="tests.ui.mm"/>
        </packages>
    </test>
</suite>